body{
    margin: 0px;
    background-color: white;
    overflow: auto;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


/*---------Menu-------------*/
.menu_logo{
    height: 70px;
    padding-top: 2.5px;
    padding-left: 5px;
}

.menu{
    height: 75px;
    background-color: #88c4f1;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.menu a{
    text-decoration: none;
    color: #001838
}

.word{
    font-family: KippaxCondensed, sans-serif;
}

.menu_tag{
    font-size: 20px;
    font-family: KippaxCondensed, sans-serif;
    padding-top: 24px;
    width: 130px;
    text-align: center;
    font-weight: 800;
    color: #001838;
}

.menu_tag_sub{
    margin-left: -20px;
    cursor: pointer;
}

.menu_list{
    border: 1px solid black;
    background-color: white;
    position: relative;
    right: 9px;
    bottom: 20px;
    width: 100px;
    display: none;
}

.hidden{
    font-family: KippaxCondensed, sans-serif;
    height: 40px;
    width: 150px;
    list-style: none;
    position: relative;
    right: 45px;
    top: 10px;
    font-size: 15px;
    display: none;
}

.hidden a{
    text-decoration: none;
    color: #001838
}

.hidden_menu_icon{
    display: none;
    height: 24px;
}

.word:hover{
    text-decoration: underline;
}

.menu_tag_sub:hover .hidden{
    display: block;
}

.menu_tag_sub:hover ul{
    display: block;
}

.hidden_menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #001838;
    z-index: 10;
    top: 0px;
}

.hidden_menu_body{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 99%;
}

.hidden_menu_body_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.hidden_menu_logo{
    height: 50px;
}

.hidden_menu_x_icon{
    height: 40px;
}

.hidden_menu_body_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    overflow: scroll;
    scrollbar-width: none;  /*hide the scroll bar*/
}

.hidden_menu_body_main ::-webkit-scrollbar{ /*hide the scroll bar*/ /*found on w3school*/
    display: none;
}

.hidden_menu_tag{
    height: 50px;
    margin: 2px;
    border-bottom: 1px solid #fff3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden_menu_tag_last{
    border-bottom: 0px;
}

.hidden_menu_tag a{
    font-family: KippaxCondensed, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.hidden_menu_tag a:hover{
    text-decoration: underline;
}



@media only screen and (max-width: 720px){
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu_tag{
        display: none;
    }

    .menu_logo{
        padding-top: 0px;
    }

    .hidden_menu_icon{
        display: block;
        padding-right: 10px;
    }
}


/*---------Menu-------------*/


/*---------Player-------------*/
.player{
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_img_box{
    width: 78%;
    border-radius: 25px;
}

.player_img_box img{
    width:100%;
}

.player_num_name{
    width: 78%;
    font-family: KippaxCondensed, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player_num{
    height: 100%;
    width: 15%;
    font-weight: 700;
    font-size: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #88c4f1;
}

.player_name{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #001838;
    margin-left: 20px;
}

.first_name{
    font-size: 40px;
}

.last_name{
    font-size: 48px;
    font-weight: 700;
}

.player_pos_nation{
    width: 78%;
    height: 50px;
    font-family: KippaxCondensed, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.player_pos{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player_nation{
    width: 87%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player_nation img{
    height: 55%;
    margin-left: 5px;
    margin-right: 10px;
}

.overview{
    width: 75%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-family: KippaxCondensed, sans-serif;
    font-weight: 700;
    color: #001838;
    margin-top: 50px;
    margin-bottom: 50px;
}

.overview_top{
    text-transform: uppercase;
    font-size: 31px;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.overview_bottom{
    height: 70%;
    display: flex;
    flex-direction: row;
}

.overview_bottom_left_right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.overview_bottom_box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat{
    font-size: 64px;
}

.stat_name{
    font-size: 16px;
}

.bio{
    width: 100%;
    background-color: #001838;
    color: white;
    font-family: KippaxCondensed, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bio_word{
    width: 40%;
    height: 100%;
    margin-left: 90px;
    margin-top: 25px;
}

.bio_img{
    width: 50%;
    height: 100%;
    margin-top: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bio_img img{
    width: 70%;
}

.bio_heading{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 39px;
}

.bio_word p{
    font-size: 20px;
}

#readmore_button{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #88c4f1;
    text-transform: uppercase;
    border: 1px solid #88c4f1;
    border-radius: 4px;
    margin-bottom: 10px;
}

#hidden_bio{
    width: 100%;
    display: none;
}

.honour{
    margin-top: 20px;
    width: 78%;
    font-family: KippaxCondensed, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #88c4f1;
}

.honour_list{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-weight: 400;
}

.honour_name{
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
}

.honour_year{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.honour_name_div{
    width: 100%;
    height: 40px;
    color: #001838;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.honour_year_div{
    width: 100%;
    height: 40px;
    color: #001838;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4px;
}

.follow{
    margin-top: 25px;
    width: 78%;
    height: 40px;
    font-family: KippaxCondensed, sans-serif;
    font-size: 15px;
    border-top: 1px solid rgba(12, 12, 12, 0.17);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #001838;
}

.follow a{
    height: 80%;
}

.follow a img{
    height: 100%;
}
#readmore_button:hover{
    background-color: #88c4f1;
    color: #001838;
}

/*---------Player-------------*/


/*---------Footer---------*/

.footer{
    margin-top: 5px;
    height: 320px;
    background-color: #001838;
}

.footer_logo_first_half{
    background-color: white;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_club_logo{
    height: 180px;
}

.footer_logo_second_half{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    font-family: KippaxCondensed, sans-serif;
    font-style: italic;
}

.dummy_space{
    width: 260px;
}

.footer_tag_right{
    width: 180px;
}

.footer_tag_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 180px;
}

.footer_social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height:109px;
    font-family: KippaxCondensed, sans-serif;
}


.footer_social_media_img{
    height: 60px;
    position: relative;
    bottom: 15px;
}

.author{
    font-size: 12px;
    color: rgba(94, 92, 92, 0.7);
    font-family: KippaxCondensed, sans-serif;
}

.footer_social_media_img:hover{
    transform:scale(1.15);
}

.footer_club_logo:hover{
    transform: scale(1.02);
}


/*---------Footer---------*/
@media only screen and (max-width: 1000px){
    .player_num{
        font-size: 100px;
    }

    .first_name{
        font-size: 30px;
    }
    
    .last_name{
        font-size: 38px;
    }
}

@media only screen and (max-width: 909px){
    .honour_name{
        width: 25%;
    }
}

@media only screen and (max-width: 900px){
    .bio_word{
        width: 50%;
    }
}

@media only screen and (max-width: 850px){
    .player_num{
        font-size: 80px;
    }

    .first_name{
        font-size: 25px;
    }
    
    .last_name{
        font-size: 33px;
    }

    .player_pos_nation{
        font-size: 16px;
        font-weight: 500;
    }
    
    .player_nation img{
        height: 55%;
    }

    .overview_top{
        font-size: 27px;
    }

    .stat{
        font-size: 60px;
    }
    
    .stat_name{
        font-size: 13px;
    }
}

@media only screen and (max-width: 746px){

    .honour_name{
        width: 30%;
    }

    .footer{
        height: 214px;
    }

    .footer_logo_first_half{
        height: 57.5px;
    }
    
    .footer_club_logo{
        height: 115px;
    }

    .dummy_space{
        width: 190px;
    }

    .footer_logo_second_half{
        height: 57.5px;
        font-size: 22px;
    }

    .footer_social_media{
        font-size: 15px;
        height: 70.5px;
    }


    .footer_social_media_img{
        height: 40px;
        position: relative;
        bottom:5px;
    }

    .author{
        font-size: 10px;
        color: rgba(94, 92, 92, 0.7);
        font-family: KippaxCondensed, sans-serif;
        padding-top: 4.5px;
    }
}

@media only screen and (max-width: 720px){
    .player_img_box{
        width: 87%;
    }
    .player_num_name{
        flex-direction: column;
    }

    .player_name{
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-left: 0px;
    }
    .first_name{
        margin-right: 10px;
    }
    
    .last_name{
        font-size: 25px;
    }

    .player_pos_nation{
        justify-content: center;
        position: relative;
        right: 16px;
        
    }

    .player_pos{
        width: 30%;
        justify-content: right;
        margin-right: 10px;
    }

    .player_nation{
        width: 30%;
        margin-left: 10px;
    }

    .player_nation img{
        height: 45%;
    }

    .overview{
        height: 400px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .overview_top{
        height: 20%;
        align-items: flex-end;
    }

    .overview_bottom{
        height: 70%;
    }
    
    .overview_bottom_left_right{
        flex-direction: column;
        align-items: center;
    }

    .bio{
        flex-direction: column;
        align-items: center;
    }

    .bio_word{
        width: 95%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bio_img{
        width: 95%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 645px){
    .honour_name{
        width: 35%;
    }
}

@media only screen and (max-width: 582px){
    .honour_name{
        width: 38%;
    }

    .number{
        font-size: 32px;
    }

    .honour_name_div{
        font-size: 14px;
    }

    .honour_year_div{
        font-size: 14px;
    }
}
