
#disneyland{
	display: none;
	position: relative;
}

#lwf{
	display: none;
	position: relative;
}

#templeStreet{
	display: none;
	position: relative;
}

.abc{
    margin-top: 80px;
}

li{
    text-decoration: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

#imgone{
    width: 900px;
    height: 600px;
}



#imgtwo{
    width: 899px;
    height: 600px;
}

#imgthree{
    width: 1245px;
    height: 600px;
}

#imgfour{
    width: 901px;
    height: 600px;
}

#imgfive{
    width: 900px;
    height: 600px;
}

#imgsix{
    width: 1202px;
    height: 600px;
}

#imgseven{
    width: 930px;
    height: 600px;
}

#imgeight{
    width: 899px;
    height: 600px;
}

#imgnine{
    width: 1068px;
    height: 600px;
}

#imgten{
    width: 899px;
    height: 600px;
}

@media screen and (max-width: 768px){
    .test{
        margin-top: 50px;
    }

    .abc{
        margin-top: 1px;
    }

    #imgone{
        width: 450px;
        height: 300px;
    }

   #imgtwo{
        width: 450px;
        height: 300px;
    }

    #imgthree{
        width: 623px;
        height: 300px;
    }

    #imgfour{
        width: 450px;
        height: 300px;
    }

    #imgfive{
        width: 450px;
        height: 300px;
    }

    #imgsix{
        width: 601px;
        height: 300px;
    }

    #imgseven{
        width: 460px;
        height: 300px;
    }

    #imgeight{
    width: 450px;
    height: 300px;
    }

    #imgnine{
    width: 534px;
    height: 300px;
    }

    #imgten{
    width: 450px;
    height: 300px;
    }
}

@media screen and (max-width:992px){
    #lwfImg{
        order:2;
    }

    #lwfWord{
        order:1;
    }
}

