body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

/*---------Menu-------------*/
.menu{
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center; /*align vertically*/
    height: 75px;
    background-color: #88c4f1;
    position: sticky;
    top: 0px;
    z-index: 100;/*place the menu at the top level*/
}


.menu_div{
    display: flex;
    align-items: center;
    height: 75px;
    /*border: 1px solid black;*/
    justify-content: center;
    /*margin-left: 25px;*/
    /*padding-left: 25px;*/
    width: 100px;
}

#menu_div_home{
    position: relative;
    left: 10px;
}
#menu_div_home{
    position: relative;
    left: 10px;
}

.menu_div_no_flex{
    height: 75px;
    font-family: KippaxCondensed, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #001838;
    text-transform: uppercase;
    width: 100px;
    position: relative;
    top: 3px;
    right: 40px;
}

.menu_div_no_flex ul{
    list-style: none;
}



.hidden{
    display: none;
    font-size: 15px;
    height: 50px;
    width: 150px;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    text-align: center;
}

.menu_div_no_flex ul:hover .hidden{
    display: block;
}

.menuLogo{
    height: 65px;
    margin-left: 10px;
}

.menu_tag{
    /*position: relative;
    top: 23px;
    margin-left: 20px;*/
    font-family: KippaxCondensed, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #001838;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}


/*---------Menu-------------*/

/*---------Sub Menu---------*/
#sub_menu{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(12, 12, 12, 0.17);
}

.sub_menu_tag{
    font-family: KippaxCondensed, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #001838;
    padding: 20px;
}

#sub_menu_tag_results{
    color: rgba(12, 12, 12, 0.3);
}

#sub_menu_tag_tables{
    color: rgba(12, 12, 12, 0.3);
}

#sub_menu_selected_div{
    align-items: center;
    display: flex;
    height: 50px;
    border-bottom: 2px solid #88c4f1;
    
}

.sub_menu_div{
    align-items: center;
    display: flex;
    height: 50px;
    margin-left: 5px;
}

#sub_menu_tag_results:hover{
    color: #001838;
}

#sub_menu_tag_tables:hover{
    color: #001838;
}

.sub_menu_div:hover{
    border-bottom: 2px solid #88c4f1;
}
/*---------Sub Menu---------*/

/*---------Fixtures---------*/
.fixture{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    margin-right: 10%;   
    margin-left: 10%;        
}

.fixture a{
    text-decoration: none;
}

.fixture_month{
    display: flex;
    flex-direction: column;
}

.fixture_month_heading{
    font-family: KippaxCondensed, sans-serif;
    font-size: 41px;
    font-weight: 700;
    color: #88c4f1;
}

.fixture_box{
    display: flex;
    flex-direction: column;
    height: 285px;
    box-shadow: 0px 1px 2px rgba(12,12,12,0.7) ;
    border-top: 3px solid #88c4f1;
    margin-bottom: 23px;
    position: relative;
    bottom: 22px;
}

.fixture_box_upper_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 19%;
    width: 100%;    
}

.fixture_box_upper_part_left_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
}

.fixture_box_upper_part_middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.fixture_competition_logo{
    height: 64px;
    position: relative;
    top: 3px;
}

.fixture_competition_name{
    font-size: 17px;
    font-weight: bold;
    font-family: KippaxCondensed, sans-serif;
}

.fixture_competition_venue_date_time{
    font-size: 15px;
    color: rgba(12,12,12,0.7);
    position: relative;
    bottom: 10px;
    font-family: KippaxCondensed, sans-serif;
}

.stadium{
    color: rgba(12,12,12,0.7);
}


.fixture_box_middle_part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 57%; 
}

.fixture_vs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.vs{
    font-size: 22px;
    font-family: KippaxCondensed, sans-serif;
    font-weight: bold;
    color: #001838;
}

.fixture_box_middle_part_home{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.fixture_box_middle_part_away{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%; 
}

.fixture_team_name{
    font-size: 25px;
    font-weight: 700;
    font-family: KippaxCondensed, sans-serif;
    color: #001838;
}

.fixture_team_logo{
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}   

.fixture_box_lower_part{
    height: 24%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(12,12,12,0.7);
    margin-left: 2%;
    margin-right: 2%;
}

.fixture_match_centre{
    font-size: 22px;
    color: #001838;
    font-family: KippaxCondensed, sans-serif;
}

.fixture_box:hover{
    transform: scale(1.01);
}



.notes{
    color: rgba(12, 12, 12, 0.7);
    font-size: 14px;
    font-family: KippaxCondensed, sans-serif;
    
    /*position: relative;
    bottom: 35px;*/
}    




/*---------Fixtures---------*/


/*---------Footer---------*/

.footer{
    margin-top: 5px;
    height: 320px;
    background-color: #001838;
}

.footer_logo_first_half{
    background-color: white;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_club_logo{
    height: 180px;
}

.footer_logo_second_half{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    font-family: KippaxCondensed, sans-serif;
    font-style: italic;
}

.dummy_space{
    width: 260px;
}

.footer_tag_right{
    width: 180px;
}

.footer_tag_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 180px;
}

.footer_social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height:109px;
    font-family: KippaxCondensed, sans-serif;
}


.footer_social_media_img{
    height: 60px;
    position: relative;
    bottom: 15px;
}

.author{
    font-size: 12px;
    color: rgba(94, 92, 92, 0.7);
    font-family: KippaxCondensed, sans-serif;
}

.footer_social_media_img:hover{
    transform:scale(1.15);
}

.footer_club_logo:hover{
    transform: scale(1.02);
}


/*---------Footer---------*/



@media only screen and (max-width: 1060px){

.fixture_team_name{
    font-size: 17px;
    font-weight: 700;
    font-family: KippaxCondensed, sans-serif;
    color: #001838;
}

.fixture_match_centre{
    font-size: 17px;
    color: #001838;
}

.vs{
    font-size: 14px;
}


/*---------Footer---------*/

.footer{
    height: 214px;
}

.footer_logo_first_half{
    height: 57.5px;
}
.footer_club_logo{
    height: 115px;
}

.dummy_space{
    width: 190px;
}

.footer_logo_second_half{
    height: 57.5px;
    font-size: 22px;
}

.footer_social_media{
    font-size: 15px;
    height: 70.5px;
}


.footer_social_media_img{
    height: 40px;
    position: relative;
    bottom:5px;
}

/*---------Footer---------*/
}

@media only screen and (max-width: 865px){
    .fixture_team_name{
        font-size: 15px;
    }

    .fixture_match_centre{
        font-size: 15px;
    }

    .vs{
        font-size: 11px;
    }
}

@media only screen and (max-width: 819px){
    #fixture_box_upper_part_left{
        display: none;
    }

    
    .fixture_box_upper_part_middle{
        justify-content: center;
        align-items: baseline;
        width: 90%;
    }

    .fixture_competition_name{
        font-size: 15px;
        margin-left: 5px;
    }
    
    .fixture_competition_venue_date_time{
        font-size: 13px;
    }

    .fixture_box_middle_part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        height: 57%; 
    }

    .fixture_box_middle_part_home{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    
    .fixture_box_middle_part_away{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%; 
    }

    .fixture_vs{
        display: none;
    }

    .fixture_team_logo{
        height: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }  

    .fixture_box_team_name_box{
        width: 85% ;
    }
    .fixture_box_team_logo_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 20% ;
    }

    .fixture_team_name{
        font-size: 20px;
    }

    .fixture_match_centre{
        font-size: 20px;
    }
}


@media only screen and (max-width: 447px){
    

/*---------Sub Menu---------*/
#sub_menu{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid rgba(12, 12, 12, 0.17);
}

.sub_menu_tag{
    font-family: KippaxCondensed, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #001838;
    padding: 20px;
}

#sub_menu_tag_results{
    color: rgba(12, 12, 12, 0.3);
}

#sub_menu_tag_tables{
    color: rgba(12, 12, 12, 0.3);
}

#sub_menu_selected_div{
    align-items: center;
    display: flex;
    height: 40px;
    border-bottom: 2px solid #88c4f1;
    
}

.sub_menu_div{
    align-items: center;
    display: flex;
    height: 40px;
    margin-left: 5px;
}

#sub_menu_tag_results:hover{
    color: #001838;
}

#sub_menu_tag_tables:hover{
    color: #001838;
}

.sub_menu_div:hover{
    border-bottom: 2px solid #88c4f1;
}
/*---------Sub Menu---------*/    

}